*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppines',sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    
}
#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    opacity: .6;
}
    
.content {
    background: rgba(0, 0 ,0, 0 , 5);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
h1{
    font-size: 80px;
}
.content h2{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 6px;
    margin-top: 25px;
    margin-bottom: 16px;
}
.progress-bar{
    background-color: #d1d1d1;
    width: 360px;
    height: 9px;
    text-align: center;
    position: relative;
    z-index: 100;
}
.percents{
    display: flex;
    justify-content: space-between;
}
.percents span{
    color: white;
    font-size: 10px;
    margin-bottom: 64px;
}
.skill h2{
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    position: relative;
}
.icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
    z-index: 1;

    gap: 10px;

}
.icons a{
    background: #87b1de;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    
}
.icon a i{
    font-size: 30px;
}
.icons a:hover{
    opacity: 0.7;
}


